<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list class='submenu'>
      <a  href="/"><img src='./../../assets/images/home.png' title="Index"></a>
        <br><br><br><br>
      <a href="/movies"><img src='./../../assets/images/movies.png' title="Movies"></a>
      <br><br><br><br>
      <a  href="/people"><img src='./../../assets/images/people.png' title='People'></a>
      <br><br><br><br>
      <a href="/species"><img src='./../../assets/images/species.png' title="Species"> </a>
      <br><br><br><br>
      <a href="/planets"><img src='./../../assets/images/planets.png' title="Planets"> </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<div *ngIf="router.url !== '/'"><footer></footer></div>
