<div fxFlex fxLayout="column">
    <div fxLayout="row wrap"  fxLayoutAlign="center center" stretch>
        <div fxFlex="100" fxLayout="column" style="padding: 5px;">
            <img src='../../assets/images/banner.jpg' class='centerImg banner'>
            <div class='line'></div>
        </div>
    </div>
<div fxFlex fxLayout="column">
    <div fxLayout="row wrap"  fxLayoutAlign="center center" stretch>
        <div fxFlex="25" fxLayout="column" style="padding: 5px;" >
            <a href="/movies">
                <mat-card>
                   <img mat-card-image src='../../assets/images/movies.jpg' title='Movies'>
                    <mat-card-title> MOVIES </mat-card-title>
                </mat-card>
            </a>
        </div>
        <div fxFlex="25" fxLayout="column" style="padding: 5px;">  
            <a href="/people"> 
                <mat-card>
                    <img mat-card-image src='../../assets/images/people.jpg' title='People'>
                    <mat-card-title> PEOPLE </mat-card-title>
                </mat-card>
            </a>
        </div>
        <div fxFlex="25" fxLayout="column" style="padding: 5px;">
            <a href="/species">
                <mat-card>
                <img mat-card-image src='../../assets/images/species.jpg' title='Species'>
                    <mat-card-title> SPECIES </mat-card-title>
                </mat-card>
            </a>
        </div>
        <div fxFlex="25" fxLayout="column" style="padding: 5px;">
            <a href="/planets">
                <mat-card>
                    <img mat-card-image src='../../assets/images/planets.jpg' title='Planets'>
                    <mat-card-title> PLANETS </mat-card-title>
                </mat-card>
            </a>
        </div>
    </div>
</div>